aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.3
apturl==0.5.2
argcomplete==2.0.0
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
backcall==0.1.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.10.0
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
cliapp==1.20180812.1
Click==7.0
cmdtest==0.32+git
colorama==0.4.3
command-not-found==0.3
cryptography==2.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.0.6
djangorestframework==3.13.1
docopt==0.6.2
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
fonttools==4.33.3
frozenlist==1.3.0
future==0.18.2
goop==0.2
greenlet==0.4.15
h11==0.13.0
httplib2==0.14.0
idna==2.8
importlib-metadata==1.5.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.15.2
Jinja2==3.0.3
keyring==18.0.1
kiwisolver==1.4.3
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.6.3
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.0.1
matplotlib==3.5.2
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
multidict==6.0.2
mutagen==1.44.0
netifaces==0.10.4
numpy==1.22.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.5.64
outcome==1.1.0
packaging==21.3
pafy==0.5.5
pandas==1.4.3
paramiko==2.6.0
parso==0.5.2
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipx==1.0.0
prettytable==0.7.2
prompt-toolkit==2.0.10
protobuf==3.6.1
protonvpn-cli==2.2.11
pycairo==1.16.2
pycryptodomex==3.6.1
pycups==1.9.73
pygame==2.1.2
Pygments==2.3.1
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynvim==0.4.1
pyOpenSSL==21.0.0
pyparsing==3.0.8
pyRFC3339==1.1
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-telegram==0.15.0
pythondialog==3.5.3
pytz==2022.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
search-engines==0.5
SecretStorage==2.3.1
selenium==4.1.0
senginta==0.0.3.0
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.4.2
ssh-import-id==5.10
systemd-python==234
tg==0.19.0
traitlets==4.3.3
trio==0.19.0
trio-websocket==0.9.2
ttystatus==0.38
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.11
usb-creator==0.3.7
userpath==1.8.0
vboxapi==1.0
virtualenv==20.0.17
wadllib==1.3.3
wcwidth==0.1.8
websockets==8.1
wsproto==1.0.0
xkit==0.0.0
yarl==1.7.2
youtube-dl==2020.1.1
yt-dlp==2022.3.8.1
zipp==1.0.0
